{% extends "layout.html" %}

{% block contenido %}
    <section class="general container">
        <h2>Ofrecemos</h2>
        <div class="general-content">
            <div class="general-1 txt">
                <h3>Calidad</h3>
                <p>
                    Nuestras camisetas destacan por su calidad y eficiencia en producción. Están hechas con materiales premium y costuras reforzadas, lo que asegura durabilidad y comodidad durante todo el día.
                </p>
            </div>
            <div class="general-2 txt">
                <h3>Eficiencia</h3>
                <p>
                    El proceso de producción es optimizado para reducir tiempos y costos sin perder calidad. Utilizamos técnicas de manufactura y teñido avanzadas que minimizan el desperdicio y garantizan uniformidad y sustentabilidad en cada prenda.
                </p>
            </div>
            <div class="general-3 txt">
                <h3>Creatividad</h3>
                <p>
                    Además, ofrecemos personalización total, permitiendo que cada cliente elija colores, estilos y diseños únicos. Este enfoque creativo asegura que cada camiseta sea única y refleje la personalidad de quien la lleva.
                </p>
            </div>
        </div>
    </section>
{% endblock %}