{% extends "layout.html" %}

{% block contenido %}
    <section class="general container">
        <h2>Ofrecemos</h2>
        <div class="general-content">
            <div class="general-1 txt">
                <h3>Calidad</h3>
                <p>
                    Nuestras camisetas destacan por su calidad y eficiencia en producción. Están hechas con materiales premium y costuras reforzadas, lo que asegura durabilidad y comodidad durante todo el día.
                </p>
            </div>
            <div class="general-2 txt">
                <h3>Eficiencia</h3>
                <p>
                    El proceso de producción es optimizado para reducir tiempos y costos sin perder calidad. Utilizamos técnicas de manufactura y teñido avanzadas que minimizan el desperdicio y garantizan uniformidad y sustentabilidad en cada prenda.
                </p>
            </div>
            <div class="general-3 txt">
                <h3>Creatividad</h3>
                <p>
                    Además, ofrecemos personalización total, permitiendo que cada cliente elija colores, estilos y diseños únicos. Este enfoque creativo asegura que cada camiseta sea única y refleje la personalidad de quien la lleva.
                </p>
            </div>
        </div>
    </section>
    <section id="informacion-1" class="informacion-1">
        <div class="informacion-content container">
            <h2>Productos</h2>
            <div class="informacion-circle">
                <div class="circle-text">
                    <div class="circle-1">
                        <h3>Camisetas</h3>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ea praesentium quam omnis magni beatae possimus quibusdam numquam incidunt nobis soluta sunt inventore, eveniet earum maiores excepturi vitae atque? Quasi.
                    </p>
                </div>
                <div class="circle-text">
                    <div class="circle-1">
                        <h3>Pantalones</h3>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ea praesentium quam omnis magni beatae possimus quibusdam numquam incidunt nobis soluta sunt inventore, eveniet earum maiores excepturi vitae atque? Quasi.
                    </p>
                </div>
                <div class="circle-text">
                    <div class="circle-1">
                        <h3>Manillas</h3>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur ea praesentium quam omnis magni beatae possimus quibusdam numquam incidunt nobis soluta sunt inventore, eveniet earum maiores excepturi vitae atque? Quasi.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="productos">
        <!-- Aquí se agregarán imágenes para el carrusel -->
        <div class="container">
            <div class="carousel">
                <div class="carousel-images">
                    <img src="../IMAGENES/Catalogo1.jpg" alt="Imagen 1" width="625px" height="700px">
                    <img src="../IMAGENES/Catalogo2.jpg" alt="Imagen 2" width="625px" height="700px">
                    <img src="../IMAGENES/Catalogo3.jpg" alt="Imagen 3" width="625px" height="700px">
                    <img src="../IMAGENES/Catalogo4.jpg" alt="Imagen 4" width="625px" height="700px">
                    <img src="../IMAGENES/Catalogo5.jpg" alt="Imagen 5" width="625px" height="700px">
                    <img src="../IMAGENES/Catalogo6.jpg" alt="Imagen 6" width="625px" height="700px">
                    <img src="../IMAGENES/Catalogo7.jpg" alt="Imagen 7" width="625px" height="700px">
                </div>
            </div>
        </div>
    </section>
    <section class="informacion-2">
        <div class="informacion-content container">
            <h2>CALIFICACIONES</h2>
            <div class="test">
                <div class="test-left">
                    <div class="test-text">
                        <img src="../static/IMAGENES/perfil1.jpg" alt="Perfil de usuario">
                        <h3>Comodidad y Estilo</h3>
                        <p>
                            "Compré varias camisetas y estoy muy satisfecho con mi compra. La comodidad es increíble, perfectas para el día a día. Me gusta que tienen una variedad de colores y estilos. Sin embargo, me gustaría que ampliaran su colección con más opciones para hombre. En general, una gran experiencia."                        </p>
                    </div>
                    <div class="test-text">
                        <img src="../static/IMAGENES/perfil2.jpg" alt="Perfil de usuario">
                        <h3>Gran Regalo</h3>
                        <p>
                            "Compré una camiseta como regalo para un amigo y fue un éxito total. La entrega fue rápida y el empaquetado muy bonito. Mi amigo quedó muy feliz con el diseño y la calidad de la camiseta. Es un lugar perfecto para encontrar regalos originales. Solo espero que agreguen más tallas en el futuro."                        </p>
                    </div>
                </div>
                <div class="test-right">
                    <div class="test-text">
                        <img src="../static/IMAGENES/perfil3.jpg" alt="Perfil de usuario">
                        <h3>Diseño Único</h3>
                        <p>
                            "¡Me encantan las camisetas de esta microempresa! Cada diseño es único y refleja un estilo fresco y moderno. La calidad de la tela es excelente, se siente suave y resistente. Además, el servicio al cliente fue excepcional; respondieron rápidamente a mis preguntas. Definitivamente volveré a comprar y recomendaré a mis amigos."                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}