<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='estilos/estilo.css')}}">
    <title>Pagina principal</title>
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="..." class="logo">LOGO</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="../static/IMAGENES/Menu.jpg" class="menu-icono" alt="...">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="{{url_for('beneficios')}}">BENEFICIOS</a></li>
                    <li><a href="{{url_for('productos')}}">PRODUCTOS</a></li>
                    <li><a href="{{url_for('reseñas')}}">RESEÑAS</a></li>
                    <li><a href="#foot">CONTACTANOS</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <div class="header-text">
                <h1>OVER ART</h1>
                <p>
                    ¡Bienvenido a nuestra página oficial! <br>
                    Somos Over Art, una microempresa virtual dedicada a diseñar camisetas de estilo oversize en diversas tallas, colores y diseños, adaptados a tus preferencias. Fundada este año, nuestra misión es ofrecerte prendas que combinen buena calidad, estilo atractivo y precios accesibles. Aquí encontrarás camisetas que son buenas, bonitas y baratas. ¡Explora y descubre las opciones que tenemos para ti!
                </p>
                <a href="{{url_for('inicio')}}" class="button-1">INFRONACION</a>
            </div>
        </div>
    </header>

    {% block contenido %}

    {% endblock %}

    <section id="foot" class="general-p2 container">
        <h2>Nuestro equipo</h2>
        <div class="general-content">
            <div class="general-4 txt">
                <h3>Nicolas Ovalle</h3>
            </div>
            <div class="general-5 txt">
                <h3>Daniel Rocha</h3>
            </div>
            <div class="general-6 txt">
                <h3>Manuel Romero</h3>
            </div>
            <div class="general-7 txt">
                <h3>Martin Ramirez</h3>
            </div>
        </div>
    </section>
    <footer class="footer container">
        <h2>ESCRIBE AQUI</h2>
        <form>
            <input class="campo" type="text" placeholder="Nombre">
            <input class="campo" type="email" placeholder="Email">
            <input class="button-2" type="submit" value="Enviar">
        </form>
        <div class="footer-text">
            <p>
                &copy;Todos los derechos reservados.
            </p>
        </div>
    </footer>
</body>
</html>