{% extends "layout.html" %}

{% block contenido %}
    <section id="informacion-1" class="informacion-1">
        <div class="informacion-content container">
            <h2>Productos</h2>
            <div class="informacion-circle">
                <div class="circle-text">
                    <div class="circle-1">
                        <h3>Camisetas</h3>
                    </div>
                    <p>
                        Explora nuestra colección de camisetas con diseños originales, confeccionadas con materiales de alta calidad como algodón orgánico y poliéster reciclado. Disponibles en una amplia gama de estilos y tamaños, nuestras camisetas ofrecen comodidad y durabilidad perfectas para el uso diario. Para mantener su calidad, se recomienda lavarlas a máquina con agua fría y secarlas al aire. Descubre las imágenes que muestran cómo lucen nuestras camisetas en diferentes estilos.
                    </p>
                </div>
                <div class="circle-text">
                    <div class="circle-1">
                        <h3>Pantalones</h3>
                    </div>
                    <p>
                        Nuestra variada selección de pantalones incluye desde jeans clásicos hasta modelos deportivos, todos diseñados para ofrecer comodidad y un look moderno. Hechos con tejidos de alta calidad, garantizan durabilidad y un ajuste ideal, disponibles en diversos tamaños y cortes. Te sugerimos combinar nuestros pantalones con las camisetas de nuestra colección para crear outfits perfectos para cualquier ocasión. Inspírate con las imágenes que muestran nuestras opciones en acción.
                    </p>
                </div>
                <div class="circle-text">
                    <div class="circle-1">
                        <h3>Manillas</h3>
                    </div>
                    <p>
                        Descubre nuestras manillas, elaboradas en materiales como tela, cuero y siliconas, cada una con un diseño único y significativo. Disponibles en varios tamaños, son ideales para expresar tu personalidad y complementar tu estilo. Echa un vistazo a nuestras imágenes para ver la variedad de manillas que ofrecemos y cómo se pueden combinar con otras prendas, haciendo de cada pieza una declaración auténtica de tu estilo.                  
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="productos">
        <div class="container">
            <div class="carousel">
                <div class="carousel-images">
                    <img src="../static/IMAGENES/Catalogo1.jpg" alt="Imagen 1" width="625px" height="700px">
                    <img src="../static/IMAGENES/Catalogo2.jpg" alt="Imagen 2" width="625px" height="700px">
                    <img src="../static/IMAGENES/Catalogo3.jpg" alt="Imagen 3" width="625px" height="700px">
                    <img src="../static/IMAGENES/Catalogo4.jpg" alt="Imagen 4" width="625px" height="700px">
                    <img src="../static/IMAGENES/Catalogo5.jpg" alt="Imagen 5" width="625px" height="700px">
                    <img src="../static/IMAGENES/Catalogo6.jpg" alt="Imagen 6" width="625px" height="700px">
                    <img src="../static/IMAGENES/Catalogo7.jpg" alt="Imagen 7" width="625px" height="700px">
                </div>
            </div>
        </div>
    </section>
{% endblock %}