{% extends "layout.html" %}

{% block contenido %}
    <section class="informacion-2">
        <div class="informacion-content container">
            <h2>CALIFICACIONES</h2>
            <div class="test">
                <div class="test-left">
                    <div class="test-text">
                        <img src="../static/IMAGENES/perfil1.jpg" alt="Perfil de usuario">
                        <h3>Comodidad y Estilo</h3>
                        <p>
                            "Compré varias camisetas y estoy muy satisfecho con mi compra. La comodidad es increíble, perfectas para el día a día. Me gusta que tienen una variedad de colores y estilos. Sin embargo, me gustaría que ampliaran su colección con más opciones para hombre. En general, una gran experiencia."                        </p>
                    </div>
                    <div class="test-text">
                        <img src="../static/IMAGENES/perfil2.jpg" alt="Perfil de usuario">
                        <h3>Gran Regalo</h3>
                        <p>
                            "Compré una camiseta como regalo para un amigo y fue un éxito total. La entrega fue rápida y el empaquetado muy bonito. Mi amigo quedó muy feliz con el diseño y la calidad de la camiseta. Es un lugar perfecto para encontrar regalos originales. Solo espero que agreguen más tallas en el futuro."                        </p>
                    </div>
                </div>
                <div class="test-right">
                    <div class="test-text">
                        <img src="../static/IMAGENES/perfil3.jpg" alt="Perfil de usuario">
                        <h3>Diseño Único</h3>
                        <p>
                            "¡Me encantan las camisetas de esta microempresa! Cada diseño es único y refleja un estilo fresco y moderno. La calidad de la tela es excelente, se siente suave y resistente. Además, el servicio al cliente fue excepcional; respondieron rápidamente a mis preguntas. Definitivamente volveré a comprar y recomendaré a mis amigos."                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}